Options -Indexes -MultiViews +FollowSymLinks

DirectoryIndex index.php

LimitRequestBody 6442450944

php_value post_max_size 5G
php_value upload_max_filesize 5G
php_value max_execution_time 300
php_value max_input_time 300

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI} ^/(common|frontend|backend)/(config|models|controllers|views)/ [NC]
RewriteRule ^ - [F]

RewriteCond %{REQUEST_URI} ^/(frontend|backend)/web/$
RewriteRule ^ - [F]

RewriteCond %{REQUEST_URI} ^/expert
RewriteRule ^expert/?(.*)$ backend/web/$1 [L,NC]

RewriteCond %{REQUEST_URI} !^/(expert|backend|frontend)
RewriteRule ^(.*)$ frontend/web/$1 [L,NC]

<FilesMatch "^(\.env|\.gitignore|\.gitattributes|composer\.(json|lock)|.*\.md|.*\.yml)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

RewriteCond %{QUERY_STRING} (eval\(|base64_decode|GLOBALS|system\() [NC,OR]
RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} \.\./ [NC]
RewriteRule ^ - [F]
